[database]
# database configuration

# Type of database. SQLite only requires a file name.
# Currently only SQLite is supported.
# type = sqlite

# File name for SQLite database. Not used in for any other database types
# file = 'dicom_service.db'

[logging]
enableLogging = 0
# format = '%(asctime)-15s %(levelname)-10s %(name)s %(message)s'
# level = 20
# filename = 'dicom_service.log'

[senders]
# lists number of senders
# each sender has its own section named 'sender<number>'
count = 0

# [sender0]
# sample sender

# Sender's name. Used as a reference
# name = PACS

# Senders AE Title
# local_ae = DICOM_SERVICE

# Remote AE Title
# remote_ae = PACS

# Remote Storage SCP address
# address = 127.0.0.1

# Remote Storage SCP port
# port = 104

# Number of dataset processors
# processors = 0

# [sender0.processor0]
# sample processor for tag morphing

# Type of dataset processor. TagMorpher in this case
# type = TagMorpher

# If true after processing dataset new file will be created in specified output
# directory
# keepOriginal = 0
# outputDir = '.'

# [sender0.processor0.config]
# PatientName = 'Test^Test^Test'

# [sender0.processor1]
# type = UIDWriter
# same options as in previous processor should be specified here

# [sender0.processor1.config]
# UID prefix
# prefix = '1.2.3.4'

# [sender0.processor2]
# type = ReEncoder
# same options as in previous processor should be specified here

# [sender0.processor2.config]
# source encoding. can be either in DICOM or python format
# source = 'ISO_IR 6'

# target encoding. can be either in DICOM or python format
# target = 'ISO_IR 192'

[watchers]
# list number of watchers
# each watcher has its own section named 'watcher<number>'
count = 0

# [watcher0]
# sample watcher

# Watcher's directory.
# directory = .

# If True, files will be removed after successful store attempt
# remove_on_send = 0

# Delay before file is ready for storage in seconds
# send_delay = 0

# If True watcher would also monitor sub-folders
# recursive = 1

# Sender's name. Refer to [sender] section for more details.
# Can take multiple values, comma separated
# senders = PACS

# [dicom]
# This section sets up DICOM service with various handles.
# If this section is not present, all other related sections (like handlers
# or devices) are ignored.

# Directory where service will store incoming datasets. Please note that
# you do not have to use this directory as reliable storage. It can be
# only a staging area for received files depending on your configuration
# storage_dir=

# Your local AE Title
# ae_title = PACS

# Port for incoming connections
# port = 11112

# [store_handlers]
# Handlers for processing C-STORE commands

# Number of handlers
# count = 0

# [store_handlers0]
# First store handler. Just a sample

# Specifies a type of storage handler
# Here we specify a simple logging handler, that will dump or received datasets
# to log
# type=LoggingStorage


# [store_handlers0.config]
# You can put handler specific config here. This section is optional.
# Each handler may require their own set of configuration options

# [find_handlers]
# count = 0

# [move_handlers]
# count = 0

# [devices]
# count=0
# [device0]
# name=
# ae_title=
# address=
# port=
